<%
pages = {'home' => 'Home', 'about' => 'About', 'poem' => 'The Poem', 'stills' => 'Stills', 'contact' => 'Contact'}
cur_page = request.path_info[1..-1].split('/').first
cur_page_title = pages[cur_page]
%>
<!DOCTYPE html>
<!--

                        HANDCRAFTED BY
       _ _ _       _         _ _      _    _                 
      | | (_)     | |       | (_)    | |  (_)                
   ___| | |_  ___ | |_    __| |_  ___| | ___ ___  ___  _ __  
  / _ \ | | |/ _ \| __|  / _` | |/ __| |/ / / __|/ _ \| '_ \ 
 |  __/ | | | (_) | |_  | (_| | | (__|   <| \__ \ (_) | | | |
  \___|_|_|_|\___/ \__|  \__,_|_|\___|_|\_\_|___/\___/|_| |_|

-->
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Hound of Heaven Movie">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Hound of Heaven Movie<%= (cur_page_title.size > 0 ? " | #{cur_page_title.gsub(%r{</?[^>]+?>}, '').strip}" : '') %></title>
        
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="/style/app.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700' rel='stylesheet' type='text/css'>
    </head>
    <body ontouchstart>
        <header class="page-header cf">
            <a href="/"><img class="page-logo" src="/img/header.jpg" /></a>
            <nav class="page-nav">
                <ul>
                    <% pages.each do |page, page_title| %>
                        <li class='<%= page == cur_page ? 'active' : '' %>'><a href='/<%= page %>'><%= page_title %></a></li>
                    <% end %>
                </ul>
            </nav>
        </header>
        <div class="page-body <%= cur_page %>-page">
            <%= yield %>
        </div>
        <footer class="page-footer">
            Copyright <%= Time.now.year %> Gorilla Poet Productions
        </footer>
    </body>
</html>
